<?php require 'header.html'; ?>
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Змінити дані</h2>
        </div>
        <div class="card-body">
            <?php if(!empty($message)): ?>
                <div class="alert alert-success">
                    <?php echo $message; ?>
                </div>
            <?php endif; ?>
            <form method="post">
                <input value="<?php echo $student->getId(); ?>" type="hidden" name="id" id="id" class="form-control">

                <div class="form-group">
                    <label for="name">Ім'я</label>
                    <input value="<?php echo $student->getName(); ?>" type="text" name="name" id="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="surname">Прізвище</label>
                    <input value="<?php echo $student->getSurname(); ?>" type="text" name="surname" id="surname" class="form-control">
                </div>
                <div class="form-group">
                    <label for="age">Вік</label>
                    <input value="<?php echo $student->getAge(); ?>" type="number" name="age" id="age" class="form-control">
                </div>
                <div class="form-group">
                    <label for="sex">Стать</label>
                    <select value="<?php echo $student->getSex(); ?>" type="text" name="sex" id="sex"class="form-control">
                        <option>Чоловіча</option>
                        <option>Жіноча</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="group">Група</label>
                    <input value="<?php echo $student->getGroup(); ?>" type="text" name="group" id="group" class="form-control">
                </div>
                <div class="form-group">
                    <label for="faculty">Факультет</label>
                    <input value="<?php echo $student->getFaculty(); ?>" type="text" name="faculty" id="faculty" class="form-control">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-info">Оновити дані</button>
                </div>
            </form>
        </div>
    </div>
</div>
<?php require 'footer.html'; ?>
