
<?php require 'header.html'; ?>
<div class="container-fluid">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Студенти</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    <th>Вік</th>
                    <th>Стать</th>
                    <th>Група</th>
                    <th>Факультет</th>
                    <th>Action</th>
                </tr>
                <?php foreach($students as $studentRecord): ?>
                    <tr>

                        <td><?php echo $studentRecord->getName(); ?></td>
                        <td><?php echo $studentRecord->getSurname(); ?></td>
                        <td><?php echo $studentRecord->getAge(); ?></td>
                        <td><?php echo $studentRecord->getSex(); ?></td>
                        <td><?php echo $studentRecord->getGroupa(); ?></td>
                        <td><?php echo $studentRecord->getFaculty(); ?></td>
                        <td>
                            <a href="edit.html?id=<?= $studentRecord->getId() ?>" class="btn btn-info">Edit</a>
                            <a onclick="return confirm('Ви дійсно хочете видалити студента?')" href="delete.html?id=<?= $studentRecord->getId() ?>" class='btn btn-danger'>Delete</a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</div>
<?php require 'footer.html'; ?>
