<?php
    require __DIR__ . '/../Config/db.php';
    $sql = 'SELECT * FROM people';
    $statement = $connection->prepare($sql);
    $statement->execute();
    $people = $statement->fetchAll(PDO::FETCH_OBJ);
?>
<?php require 'header.php'; ?>
<div class="container-fluid">
    <div class="card mt-5">
        <div class="card-header">
            <h2>Студенти</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tr>

                    <th>Ім'я</th>
                    <th>Прізвище</th>
                    <th>Стать</th>
                    <th>Вік</th>
                    <th>Група</th>
                    <th>Факультет</th>
                    <th>Action</th>
                </tr>
                <?php foreach($people as $person): ?>
                    <tr>

                        <td><?= $person->name; ?></td>
                        <td><?= $person->surname; ?></td>
                        <td><?= $person->age; ?></td>
                        <td><?= $person->sex; ?></td>
                        <td><?= $person->groupa; ?></td>
                        <td><?= $person->faculty; ?></td>
                        <td>
                            <a href="edit.html?id=<?= $person->id ?>" class="btn btn-info">Edit</a>
                            <a onclick="return confirm('Ви дійсно хочете видалити студента?')" href="delete.php?id=<?= $person->id ?>" class='btn btn-danger'>Delete</a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </table>
        </div>
    </div>
</div>
<?php require 'footer.php'; ?>
